@import '../assets/variables.module.scss';

.canvas{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    border: 1px solid black;
    background-color: #fff;
}