@import '../assets/variables.module.scss';

.settingBar {
    height: $toolbar-height;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    z-index: 999;

    &_btn{
        height: 25px;
        width: 25px;
        border: none;
        outline: none;
        cursor: pointer;
        background-size: cover;
        margin-left: 10px;
    }
    .brush{
        background: url('../assets/images/brush.svg') no-repeat center center;
    }
    .rect{
        background: url('../assets/images/rect.svg') no-repeat center center;
    }
    .circle{
        background: url('../assets/images/circle.svg') no-repeat center center;
    }
    .eraser{
        background: url('../assets/images/eraser.svg') no-repeat center center;
    }
    .line{
        background: url('../assets/images/line.svg') no-repeat center center;
    }
    .undo{
        margin-left: auto;
        background: url('../assets/images/undo.svg') no-repeat center center;
    }
    .redo{
        background: url('../assets/images/redo.svg') no-repeat center center;
    }
    .save{
        margin-right: 10px;
        background: url('../assets/images/save.svg') no-repeat center center;
    }
}

.setting_bar {
    height: $toolbar-height;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    top: $toolbar-height;
}