@import './assets/variables.module.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app{
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    background-color: $background-color;
}